<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>WebCard</title>
    <meta name="description" content="Simple, shareable, card page. As a business card or anything really.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/iconfinder_misc-_card_notes_1276876.png">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">

    <meta name="theme-color" content="#fafafa">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4533496-22"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-4533496-22');
    </script>
</head>

<body>
    <div id="the-app">

        <section id="the-card" :style="{background, color, fontSize}">
            <h1 id="the-text">{{ text }}</h1>
        </section>

        <section id="the-editor">
            <h1>WebCard</h1>

            <div class="widget">
                <input v-model="background" placeholder="#fafafa">
                <label>Background color</label>
            </div>

            <div class="widget">
                <input v-model="color" placeholder="#fafafa">
                <label>Font color</label>
            </div>

            <div class="widget">
                <input v-model="fontSize" placeholder="#fafafa">
                <label>Font size</label>
            </div>

            <div class="widget">
                <textarea v-model="text" placeholder="Your email here"></textarea>
                <label>Card text</label>
            </div>

            <div class="widget">
                <button @click="goFullScreen">Fullscreen mode</button>
            </div>

            <div class="widget">
                <a href="https://github.com/ubershmekel/webcard">source</a>
                <a href="https://twitter.com/ubershmekel">twitter</a>
            </div>
        </section>

    </div>

    <script src="js/main.js"></script>

</body>

</html>